:root{
    --cor-fundo:#3a00e8;
    --cor-principal:#1d82c5;
    --cor-secundaria:#4d4f62;
    --cor-destaque:#06323a;
    --cor-texto:#000000;

}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque); 
}